{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block body %}

    <div class="container mt-2">
        <div class="row">
            {% for band in bands_list %}
            <div class="col-md-3 col-sm-6">
                <div class="card card-block">  
                    <a href="band/{{ band.id }}">
                        <img src="../pictures/bands/{{ band.picture }}" alt="Photo de {{ band.name }}" class="card-img-top">
                        <h5 class="card-title mt-3 mb-3">{{ band.name }}</h5>
                        <p class="card-text"></p> 
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
