<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><h1>Salle de concert</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="/symf/index.php/concert">Concerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/symf/index.php/bands">Artistes</a>
        </li>
        {% if app.user %}
          <div class="nav-item ms-3">
              Bonjour {{ app.user.username }} ({{ app.user.roles.0 }}), <a href="{{ path('app_logout') }}">Logout</a>
          </div>
        {% else %}
          <li class="nav-item ms-3">
            <a class="btn btn-black btn-rounded" href="/symf/index.php/login">Sign in</a>
          </li>
          <li class="nav-item ms-3">
            <a class="btn btn-black btn-rounded" href="/symf/index.php/register">Crée un compte</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div style="margin-top: 10rem"></div>
<!-- Navbar -->